# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Android Keystore files (TAMBAHAN BARU)
*.jks
*.keystore
*.key
android/key.properties

# Android build files
/android/app/.gradle
/android/.gradle
/android/build
/android/local.properties

# iOS build files
/ios/.generated
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

# Flutter coverage
/coverage/

# Firebase
**/firebase-debug.log
**/firebase-export.json

# Temporary files
*.tmp
*.temp

# Environment files
.env
.env.local
.env.production